.home-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.books-image {
  width: 288px;
  height: 80%;
  margin-right: 30px;
  background-image: url("../../images/gengou.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.books-image img {
  position: absolute;
  top: 43%;
  left: 7%;
  height: 150px;
  width: 114px;
}

.home-login {
  height: 100%;
}

.fade-image-enter {
  opacity: 0;
}

.fade-image-enter-active {
  transition: 2s;
  opacity: 1;
}

.fade-image-exit {
  opacity: 1;
}

.fade-image-exit-active {
  transition: 4s;
  opacity: 0;
}
