header {
  height: 10vh;
  box-shadow: 0px 1px 4px rgb(223, 223, 223);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

* {
  box-sizing: border-box;
  font-family: "ヒラギノ角ゴシック";
}

.wrapper {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper-enter-active {
  transform: translateX(-200px);
  transition: 500ms;
}

.wrapper-enter-done {
  transform: translateX(-200px);
}

.wrapper-exit {
  transform: translateX(-200px);
}

.wrapper-exit-active {
  transform: none;
  transition: 500ms;
}

.container {
  height: 75%;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.menu-bar {
  background-color: inherit;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 25px;
  color: hsl(143, 100%, 36%);
}

.bar-enter {
  opacity: 0;
}

.bar-enter-active {
  transition: 500ms;
  opacity: 1;
}

.bar-exit {
  opacity: 1;
}

.bar-exit-active {
  opacity: 0;
  transition: 500ms;
}

.menu {
  width: 200px;
  height: 100vh;
  float: right;
  background-color: hsla(0, 0%, 97%, 0.91);
}

.menu-enter {
  transform: translateX(200px);
}

.menu-enter-active {
  transition: 500ms;
  transform: none;
}

.menu-exit-active {
  transform: translateX(200px);
  transition: 500ms;
}

.menu-close {
  border: none;
  background-color: inherit;
  outline: none;
  font-size: 20px;
  color: hsl(143, 100%, 36%);
}

.menu-link {
  background-color: inherit;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
  color: rgb(48, 53, 71);
  outline: none;
  text-align: center;
}

.message {
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  background-color: #00ff4c;
  padding: 10px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

.message-enter {
  transform: translateY(10%);
}

.message-enter-active {
  transition: 100ms;
  transform: none;
}

.message-exit-active {
  display: none;
}
